.el--1 {
        background-color: blueviolet;
      }
      .el--2 {
        background-color: orangered;
      }
      .el--3 {
        background-color: green;
        /* height: 150px; */
        height: 250px;
      }
      .el--4 {
        background-color: goldenrod;
      }
      .el--5 {
        background-color: palevioletred;
      }
      .el--6 {
        background-color: steelblue;
      }
      .el--7 {
        background-color: yellow;
      }
      .el--8 {
        background-color: crimson;
      }

      .container--1 {
        /* STARTER */
        font-family: sans-serif;
        background-color: #ddd;
        font-size: 40px;
        margin: 40px;

        /*=====================================*/
        /* CSS flex */
        /*=====================================*/
        display: flex;

        /*---- Verticaly align ----*/
        align-items: center;
        /* align-items: flex-start; */
        /* align-items: flex-end; */

        /*---- horizontal align ----*/
        /* justify-content: center; */
        /* justify-content: end; */
        /* justify-content: start; */
        justify-content: flex-start;
        /* justify-content: flex-end; */

        /*---- Gap ----*/
        /*instead of adding   margin-right for gap we use gap in flex very simple*/
        gap:30px;
      }
      .el{
        /* margin-right: 30px; */
      }

      
      .el--1{
        /* align the eleement it self from accept other */
        align-self:flex-start;
      }
      .el--5{
        /* align the eleement it self from accept other */
        align-self:stretch;
      }


      .el--6{
        /* Order */
        /*by default the order = 0  for all of them in flex container*/

        /*-- move to 1st position ---*/
        order:-1;
      }
      .el--3{
        /*-- move to last position ---*/
        order:1
      }
      .el--1{
         /*-- move to last position ---*/
         /*order:1 is alredy taken to make it  last we have to give 2*/
        order:2;
      }

      
















      .container--2 {
        /* STARTER */
        font-family: sans-serif;
        background-color: black;
        font-size: 40px;
        margin: 100px;

        width: 1000px;
        height: 600px;

        /* CSS GRID */
      }