*{
    margin:0;
    padding:0;
}

h1::first-letter{
    font-style: normal;
    margin-right: 10px;
}

h3::first-letter{
    font-size: 90px;
}

p::first-line{
    color: red;
}

h3 + p::first-letter{
    color: Green;
    font-weight: bolder;
    font-size: 40px;

}

h2{
    position:relative;
}
h2::after{
    content: "TOP";
    background-color: yellow;
    color:black;
    font-size: 16px;
    font-weight: bold;

    /* display: inline-block; */
    display: inline-block;
    padding:5px 10px;

    position: absolute;
    top: -10px;
    right: -10px;
}



h2::before{
    content: "TOP";
    background-color: red;
    color:white;
    font-size: 16px;
    font-weight: bold;

    /* display: inline-block; */
    display: inline-block;
    padding:5px 10px;

    position: absolute;
    top: -20px;
    left: -40px;
}












body{
    font-family: sans-serif;
    /* color:red; */


    position:relative
}


.container{
    width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    margin:0 auto;
}

.main-header{
    background-color: #f7f7f7;
    margin-bottom: 40px;
    padding: 10px 10px;
    height: 80px;
}


nav{
    font-size:18px;
}

article{
    width: 670px;
    margin-bottom: 50px;
}

aside{
    background-color: #f7f7f7;

    border-top:5px solid #1098ad;
    border-bottom:5px solid #1098ad;

    padding:50px 0px;

    /*========== Dimensions ======*/
    width: 500px;
}

.post-header{
    margin-bottom: 40px;
}


/*___________ All Child Element of Body ___________*/
h1,h2,h3,h4,p,li{
    /* font-family: sans-serif; */
    color:#444;
}

h1,h2,h3{
    /*___ Hexa Color ___*/
    color:#1098ad;
}
h1 {
    color: blue;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    font-size: 40px;
    margin-bottom: 30px;
}
h3{
    font-size:30px;
    margin-bottom: 20px;
    margin-top:50px
}
h4{
    font-size:20px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 35px;
}
ul,ol{
    margin-left: 50px;
    margin-bottom: 20px;
}
li{
    font-size: 20px;
    padding-bottom:40px;
}
li:last-child{
    padding-bottom: 0;
}



#copyright{
    font-size: 16px;
}
#author{
    font-style: italic;
    font-size: 18px;
}
.related-author{
    font-size: 18px;
    font-weight: bold;
}
.realted{
    margin:0;
    list-style: none;
}



li:first-child{
    font-weight: bolder;
}

li:last-child{
    font-style: italic;
}


li:nth-child(3){
    /* color: red; */
}


li:nth-child(odd){
    /* background-color: pink; */
}


li:nth-child(even){
    /* background-color: orange; */
}

a:link {
    margin-right: 20px;
    color: #1098ad;
    text-decoration:none;
    font-weight: bold;
    opacity: 0.7;
}

/* a:visited{
    color: #1098ad;
} */

a:hover{
    opacity: 1;
    color: #1098ad;
    /* text-decoration: underline orangered; */
    transition: 1s;

}

a:active{
    background-color: black;
    font-style:italic;
}


.post-img{
    /* width: 800px; */
    width:100%;
    height: auto;
}

button{
    font-size: 22px;
    padding:20px;
    cursor: pointer;
    position: absolute;
    bottom:25px;
    right:100px;

}




/* ================================================ */
/* Floats */
/* ================================================ */
/* .author-img{
    float:left;
}

.author{
    padding-left: 100px;
}




h1{
    float: left;
}
nav{
    float: right;
}
.main-header{
    height: auto;
    margin-bottom: 40px;
}

.clearfix::after {
    content:'';
    clear:both;
    display: block;
}
.postImgDiv{
    margin-bottom: 40px;
}
.clearFixedImg::after{
    content:'';
    clear:both;
    display: block;
}


article{
    padding:35px 35px;
    box-sizing: border-box;
    float:left;
}

aside{
    float:right;
    padding:35px 35px;
    box-sizing: border-box;
}

footer{
    clear: both;
}

.containerClearIssue::after{
    content: "";
    display: block;
    clear: both;
} */



/* ================================================ */
/* Flex */
/* ================================================ */

/* 
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postImgDiv{
    display: flex;
    align-items: start;
    gap: 20px !important;

}

.realted-post{
    display: flex;
    align-items: center;
    gap:20px
}

.related-author{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
}
.related-link{
    margin-bottom: 5px;
    display: block;
}




.row{
    display: flex;
    gap:50px;
    align-items: flex-start;
}

article{
    flex:1;
}
aside{
    flex:0 1 300px;
} */