
003 Overview of Web Design and Website Personalities
004 Web Design Rules #1 Typography
006 Web Design Rules #2 Colors
008 Web Design Rules #3 Images and Illustrations
009 Web Design Rules #4 Icons
011 Web Design Rules #5 Shadows
013 Web Design Rules #6 Border-radius
015 Web Design Rules #7 Whitespace
016 Web Design Rules #8 Visual Hierarchy
018 Web Design Rules #9 User Experience (UX)
020 The Missing Piece Steal Like An Artist!
